
[*.d]
dfmt_align_switch_statements = true
dfmt_brace_style = allman
dfmt_compact_labeled_statements = true
dfmt_outdent_attributes = true
dfmt_outdent_labels = true
dfmt_selective_import_space = true
dfmt_soft_max_line_length = 160
dfmt_space_after_cast = true
dfmt_space_after_keywords = true
dfmt_space_before_function_parameters = false
dfmt_split_operator_at_line_end = false
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 160
tab_width = 4
